google-api-python-client==2.95.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.
google-auth==2.17.1
google-cloud-compute==1.13.0
google-cloud-dns==0.34.1
google-cloud-storage==2.10.0
typer==0.9.0
typing_extensions==4.7.1